.mi-ta ig{
width: 50px;
margin-top: 50px;
margin-bottom: 20px;
margin-left: 50px;
margin-right: 50px;
padding-top:20px;
padding-bottom:20px;
padding-right:30px;
padding-left:20px;
width: 300px;
background-color:#000000;
border: 2px solid black;
border-radius: 50px;
}